<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="OdysseusStudioApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/appicon.gif">
         <run
               class="de.uniol.inf.is.odysseus.product.studio.starter.OdysseusStudioApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  id="new"
                  label="New..."
                  style="push">
            </command>
            <separator
                  name="FileSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="FileSeparator2"
                  visible="true">
            </separator>
            <separator
                  name="FileSeparator4">
            </separator>
            <separator
                  name="additions">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  id="saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  id="saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  id="revert"
                  label="Revert"
                  style="push">
            </command>
            <separator
                  name="FileSeparator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.openWorkspace"
                  style="push">
            </command>
            <separator
                  name="FileSeparator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
            <separator
                  name="de.uniol.inf.is.odysseus.client.starter.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="EditSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="EditSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
            <separator
                  name="find.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Find/Replace"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newEditor"
                  label="New Editor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="New Window"
                  style="push">
            </command>
            <separator
                  name="WindowSeparator3"
                  visible="true">
            </separator>
            <menu
                  label="Open Perspective">
               <dynamic
                     class="de.uniol.inf.is.odysseus.product.studio.starter.PerspectiveShortListItem"
                     id="de.uniol.inf.is.odysseus.rcp.starter.dynamic3">
               </dynamic>
            </menu>
            <menu
                  label="Show View">
               <dynamic
                     class="de.uniol.inf.is.odysseus.product.studio.starter.ViewShortListItem"
                     id="de.uniol.inf.is.odysseus.rcp.starter.dynamic2">
               </dynamic>
            </menu>
            <separator
                  name="WindowSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  label="Customize Perspective..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  label="Save Perspective As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="Reset Perspective..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  label="Close Perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  label="Close All Perspectives"
                  style="push">
            </command>
            <separator
                  name="WindowSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.eclipse.search.menu"
               label="Search">
         </menu>
         <menu
               id="help"
               label="Help">           
            <separator
                  name="HelpSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Odysseus Studio"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="OdysseusStudioProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uniol.inf.is.odysseus.client.starter.OdysseusStudioApplication"
            name="Odysseus Studio 2">
         <property
               name="appName"
               value="Odysseus Studio 2">
         </property>
         <property
               name="aboutImage"
               value="icons/128_128.gif">
         </property>
         <property
               name="aboutText"
               value="This is Odysseus Studio&#x0A;&#x0A;Help can be found here:&#x0A;&#x0A;http://odysseus.informatik.uni-oldenburg.de/">
         </property>
         <property
               name="windowImages"
               value="icons/16_16.gif,icons/32_32.gif,icons/48_48.gif,icons/64_64.gif,icons/128_128.gif">
         </property>
      </product>
   </extension>

</plugin>
