<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Odysseus Target Platform (development stable)" sequenceNumber="1600000005">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.server.p2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/releases/oxygen/201804111000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/tools/gef/updates/legacy/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/modeling/tmf/xtext/updates/releases/2.16.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject" version="0.0.0"/>
<unit id="javax.jws" version="0.0.0"/>
<unit id="javax.mail" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.apache.lucene" version="0.0.0"/>
<unit id="org.apache.lucene.analysis" version="0.0.0"/>
<unit id="org.apache.lucene.core" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>
<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/tools/orbit/downloads/drops/S20190108164448/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.uniol.inf.is.odysseus.cache.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.client.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.client.platform.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.client.studio.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.common.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.complexnumber.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.core.server.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.database.cql.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.database.cql2.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.database.datasource.hive2.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.database.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.database.rcp.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.datarate.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.datarate_systemload.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.developer.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.keyvalue.datahandler.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.keyvalue.datatype.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.keyvalue.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.latency.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.memstore.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.monolithic.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.monolithic.sdp.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.monolithic.studio.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.parser.cql.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.parser.cql2.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.parser.cql2.ui.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.planmanagement.executor.webservice.client.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.planmgmt.standard.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rcp.dashboard.colors.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rcp.dashboard.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rcp.dashboard.soccer.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rcp.dashboard.windrose.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rcp.evaluation.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.relational.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.rest.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.scheduling.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.script.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.security.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.server.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.server.fragmentation.base.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.server.platform.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.sigar.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.slf4j.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.studio.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.systemload.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.usermanagement.store.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.wrapper.json.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.wrapper.mail.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.wrapper.rabbitmq.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.wrapper.telegram.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.wrapper.twitter.feature.feature.group" version="0.0.0"/>
<repository location="http://odysseus.informatik.uni-oldenburg.de/updatesite/odysseus_all_new/stable/origin/development/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ANTLR3_4.feature.feature.group" version="0.0.0"/>
<unit id="Commons.Math.feature.feature.group" version="0.0.0"/>
<unit id="NMEAParser.feature.feature.group" version="0.0.0"/>
<unit id="TestNG6.8.feature.feature.group" version="0.0.0"/>
<unit id="aopalliance.feature.feature.group" version="0.0.0"/>
<unit id="argparse4j.feature.feature.group" version="0.0.0"/>
<unit id="com.fasterxml.jackson.feature.feature.group" version="0.0.0"/>
<unit id="com.google.code.gson.feature.feature.group" version="0.0.0"/>
<unit id="com.google.guava.feature.feature.group" version="0.0.0"/>
<unit id="com.google.guava20.feature.feature.group" version="0.0.0"/>
<unit id="com.google.protobuf.feature.feature.group" version="0.0.0"/>
<unit id="com.googlecode.javacv.feature.feature.group" version="0.0.0"/>
<unit id="com.jaxb.feature.feature.group" version="0.0.0"/>
<unit id="com.jayway.jsonpath.feature.feature.group" version="0.0.0"/>
<unit id="com.jogamp.jogl.feature.feature.group" version="0.0.0"/>
<unit id="com.mongodb.driver.feature.feature.group" version="0.0.0"/>
<unit id="com.rabbitmq.feature.feature.group" version="0.0.0"/>
<unit id="com.rits.cloning.feature.feature.group" version="0.0.0"/>
<unit id="com.vividsolutions.jts.feature.feature.group" version="0.0.0"/>
<unit id="com.yammer.metrics.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.ei.oj104.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.jfreechart.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.common.resources.jdlms.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.sigar.feature.feature.group" version="0.0.0"/>
<unit id="de.uniol.inf.is.odysseus.xtext.feature.feature.group" version="0.0.0"/>
<unit id="fastutil.feature.feature.group" version="0.0.0"/>
<unit id="fr.bmartel.pcapdecoder.feature.feature.group" version="0.0.0"/>
<unit id="hk2.feature.feature.group" version="0.0.0"/>
<unit id="io.netty.feature.feature.group" version="0.0.0"/>
<unit id="jama.feature.feature.group" version="0.0.0"/>
<unit id="javaparser.feature.feature.group" version="0.0.0"/>
<unit id="javax.mail.feature.feature.group" version="0.0.0"/>
<unit id="javax.validation.feature.feature.group" version="0.0.0"/>
<unit id="jna.feature.feature.group" version="0.0.0"/>
<unit id="joptsimple.feature.feature.group" version="0.0.0"/>
<unit id="lz4.feature.feature.group" version="0.0.0"/>
<unit id="net.ericaro.surfaceplotter.feature.feature.group" version="0.0.0"/>
<unit id="net.java.jersey.feature.feature.group" version="0.0.0"/>
<unit id="org.OpenNI.feature.feature.group" version="0.0.0"/>
<unit id="org.antlr4.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.compress.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.configuration.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.io.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.lang3.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.math3.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.net.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.derby.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.hadoop.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.hc.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.jena.2.13.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.jlibs.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.kafka.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.mahout.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.tika.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.zookeeper.feature.feature.group" version="0.0.0"/>
<unit id="org.bytedeco.javacv.feature.feature.group" version="0.0.0"/>
<unit id="org.codehaus.woodstox.stax2.api.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.paho.client.mqttv3.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rdf4j.feature.feature.group" version="0.0.0"/>
<unit id="org.elasticsearch.driver.feature.feature.group" version="0.0.0"/>
<unit id="org.geotools.feature.feature.group" version="0.0.0"/>
<unit id="org.graphstream.gs-algo.feature.feature.group" version="0.0.0"/>
<unit id="org.graphstream.gs-core.feature.feature.group" version="0.0.0"/>
<unit id="org.i0itec.zkclient.feature.feature.group" version="0.0.0"/>
<unit id="org.java.websocket.feature.feature.group" version="0.0.0"/>
<unit id="org.jboss.javassist.feature.feature.group" version="0.0.0"/>
<unit id="org.jboss.netty.feature.feature.group" version="0.0.0"/>
<unit id="org.jpmml.feature.feature.group" version="0.0.0"/>
<unit id="org.json.feature.feature.group" version="0.0.0"/>
<unit id="org.mihalis.opal.feature.feature.group" version="0.0.0"/>
<unit id="org.objenesis.feature.feature.group" version="0.0.0"/>
<unit id="org.ocpsoft.prettytime.feature.feature.group" version="0.0.0"/>
<unit id="org.openmuc.jdlms.feature.feature.group" version="0.0.0"/>
<unit id="org.osgeo.proj4j.feature.feature.group" version="0.0.0"/>
<unit id="org.renjin.feature.feature.group" version="0.0.0"/>
<unit id="org.restlet.osgi.2.3.12.feature.feature.group" version="0.0.0"/>
<unit id="org.scala.lang.scala.feature.feature.group" version="0.0.0"/>
<unit id="org.sesame.feature.feature.group" version="0.0.0"/>
<unit id="org.simpleframework.xml.feature.feature.group" version="0.0.0"/>
<unit id="org.slf4j_0.feature.feature.group" version="0.0.0"/>
<unit id="org.wso2.msf4j.feature.feature.group" version="0.0.0"/>
<unit id="org.xerial.snappy.java.feature.feature.group" version="0.0.0"/>
<unit id="qdox.feature.feature.group" version="0.0.0"/>
<unit id="rxtx.feature.feature.group" version="0.0.0"/>
<repository location="http://odysseus.informatik.uni-oldenburg.de/updatesite/resources/latest/"/>
</location>
</locations>
</target>
